{% extends 'base.html' %}
{% load avatar_tags %}

{% block content %}

<h1>Hello World</h1>
<h3>Start with Node django layout is incrediable easy!</h3>
<p>Because we picked some awesome tech stack (or which we have already familiar :P).</p>
<p>Heres what we got:</p>
<ul>
  <li>Python < 3</li>
  <li>Django > 1.7 with a set of awesome apps</li>
  <li>Foundation 5 with scss</li>
  <li>Coffee script (ES6 soon :)</li>
  <li>Bower for install & update frontend packages</li>
  <li>Gulp for building</li>
  <li>Fabric for deployment</li>
  <li>...</li>
</ul>

{% if user.id %}
  <p>Welcome, {{user.username}}</p>
  {% avatar user 32 %}
  <a href="{% url 'avatar_change' %}" class="button">Change Avatar</a>
  <a href="{% url 'account_change_password' %}" class="button">Change Password</a>
  <a href="{% url 'account_logout' %}" class="button">Log out</a>
{% else %}
  <p>Anyway, welome to Django!</p>
  <a href="{% url 'account_signup' %}" class="button">Sign Up</a>
  <a href="{% url 'account_login' %}" class="button">Login</a>
  <a href="{% url 'account_reset_password' %}" class="button">Forgot Password</a>
{% endif %}

<a href="{% url 'about' %}" class="button">About</a>

{% endblock %}
